:root {
  --primary-color: #007bff;
  --secondary-color: #f0f0f0;
  --tertiary-color: #ddd;
  --quaternary-color: #aaa;

  --primary-color-hover: #0056b3;
  --primary-color-active: #004b9e;

  --success-color: #28a745;
  --error-color: #dc3545;
}

body {
  background-color: var(--secondary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

div#content {
  margin: 0 auto;
  height: 100%;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 4rem;
  height: 2vh;
  overflow: hidden;
  transition: ease-in-out 0.2s;
}

footer:hover {
  height: 3rem;
  padding: 10px 0;
}

footer * {
  opacity: 0;
  transition: ease-in-out 0.2s;
}

footer:hover * {
  opacity: 1;
}

/* Button */
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:active {
  background-color: var(--primary-color-active);
}

/* Header */
div#header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 8vh;
}

div#header p {
  font-size: 1rem;
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: ease-in-out 0.2s;
}

div#header:hover p,
div#header:focus p {
  opacity: 1;
  margin: 0 0 2.5rem 0;
}

/* Main */
div#flag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

div#flag-container img {
  margin: 1rem;
  max-height: 40vh;
  max-width: 40vw;
  transform: scale(1);
  transition: transform ease-in-out 0.2s;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

div#flag-container img:hover {
  transform: scale(102%);
}

div#score-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  cursor: default;
}

div#score-container div,
div#score-container button {
  padding: 0.6rem 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

div#score-container div {
  margin-right: 0.75rem;
  background-color: #ddd;
}

form#flag-form {
  display: flex;
  justify-content: center;
  margin: 20px 20px 5px 20px auto;
}

form#flag-form button {
  height: 40px;
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 0 3px 3px 0;
}

form#flag-form input[type="text"] {
  background-color: #fefefe;
  border: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
}

form#flag-form input[type="text"]:focus {
  outline: none;
}

form#flag-form div#text-container {
  background-color: #fefefe;
  margin: 0 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

form#flag-form div#text-container:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1100px) {
  div#flag-container img {
    max-width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  div#flag-container img {
    max-width: 90vw;
  }
}

#autocomplete-container {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-top: calc(1rem + 25px);
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

form#flag-form input[type="text"]:focus + #autocomplete-container {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#autocomplete-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#autocomplete-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#autocomplete-container li:last-child {
  border-bottom: none;
}

#autocomplete-container li:hover {
  background-color: var(--secondary-color);
}

#autocomplete-container li:active {
  background-color: #e0e0e0;
}

.alert-box {
  background-color: #111111aa;
  color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.alert-box-content {
  opacity: 1;
  background-color: var(--secondary-color);
  color: #111;
  width: 35rem;
  height: 20rem;
  top: calc(50% - 10rem);
  left: calc(50% - 17.5rem);
  position: fixed;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 650px) {
  .alert-box-content {
    width: 90vw;
    height: 20rem;
    top: calc(25%);
    left: calc(50% - 45vw);
  }
  
}

.alert-box-header {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  padding: 0.7rem;
  text-align: center;
}

.alert-box-body {
  padding: 0 1rem;
}

.alert-box-close {
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 2rem);
  padding: 0.5rem;
  border-radius: 3px;
}